.text-conectado{
    color: #1fff8d;
}

.text-no-conectado{
    color:red;
}

footer{
    padding: 10px 10px 10px 10px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    font-size: 18px;
    background: rgb(3, 80, 87);
    color: white;
    margin: 10px 0px 0px 0px;
}