<div class="container-login">
  <div class="login mat-elevation-z6">
    <h4 class="title-login">CIISA</h4>
    <form [formGroup]="loginForm">
      <div fxLayout="row" class="cont-form">
          <mat-form-field class="full">
              <input matInput placeholder="Usuario" formControlName="usuario" maxlength="15" required autocomplete="off">
          </mat-form-field>
          <mat-form-field class="full">
              <input matInput placeholder="Contraseña" formControlName="clave" type="password" maxlength="15" required>
          </mat-form-field>
      </div>
      <button mat-button class="btn-login phase noborder" (click)="login()">INGRESAR <mat-icon>lock</mat-icon></button>
    </form>
  </div>
</div>
      