.container-login{
  height: 100%;
  position: fixed;
  width: 100%;
  background: #c6d5ec;
  text-align: center;
}
.login{
  max-width: 420px;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -160px;
  margin-top: -154px;
  margin-right: 20px;
  background: white;
}
.login-logo{
  display: block;
  margin-right:20px;
}

.aleft{
  text-align: right;
}

.full{
  font-size: 14px !important
}
.cont-form{
    padding: 40px;
}

.btn-login{
  background: #dd0000;
  width: 100%;
  color: #fff;
  font-size: 15px;
}

.title-login{
  margin: 0px;
  color: #009b21;
  padding: 40px 40px 0px 40px;
  text-align: center;
  font-size: 18px;
}
  
  .subtitle-login{
    margin: 0px;
      padding:10px 40px 20px 40px;
      font-size: 12px;
      font-weight: 300;
  }
  