<div class="container">
    <app-navbar></app-navbar>
    <mat-tab-group (selectedTabChange)="getTabGroup($event)">                    
      <mat-tab label="Humedad">                   
          <h3>{{humedad}} % Actual</h3>
          <h3>Hora {{fechahoactual}}</h3>
          <!-- <app-humedad-minima *ngIf="canvas"></app-humedad-minima>
          <app-humedad-maxima *ngIf="canvas"></app-humedad-maxima>  -->
      </mat-tab>
      <mat-tab label="Acciones"> 
          <h3>Acciones</h3> 
          <!-- <app-acciones *ngIf="!canvas"></app-acciones>   -->
      </mat-tab>  
  </mat-tab-group> 
  <app-humedad-maxima *ngIf="canvas" [fechahoramayor]="fechahoramayor" [humedadmayor]="humedadmayor"></app-humedad-maxima>
  <app-humedad-minima *ngIf="canvas" [fechahoramenor]="fechahoramenor" [humedadmenor]="humedadmenor"></app-humedad-minima> 
  <app-acciones *ngIf="!canvas"></app-acciones>  
  <app-footer></app-footer>
</div>