/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    display: block;
    margin: 0px;
}
.mat-tab-label {
    height: 50px;
    padding: 0 24px;
    cursor: pointer;
    box-sizing: border-box;
    opacity: .6;
    min-width: 160px;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    position: relative;
    width: 100%;
    background: rgba(248, 101, 3, 0.965);
    color: white;
    margin: 1px;
}

h3{
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
}

.mat-tab-label .mat-tab-label-content {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    font-size: 20px;
}

td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
    padding: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    font-size: 20px;
}

h4{
    text-align: left;
    margin: 20px;
}

.acciones{
    width: 98%;
    text-align: center;
    margin: 25px;
}

.mat-slide-toggle-content {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 20px;
    margin: 20px;
}

.full{
    width:100%
}

table {
    width: 93%;
    margin:20px;
}
