<h4>Humedad Mínima</h4> 
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="humedad">
    <th mat-header-cell *matHeaderCellDef>Humedad</th>
    <td mat-cell *matCellDef="let element"> {{element.humedad}} </td>
  </ng-container>
  <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef>Fecha</th>
      <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
    </ng-container>  
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>